--
-- PostgreSQL database dump
--

\restrict lpxGVF7gxVwkLYG6aDmiF2ultszC22yaU8GWvRLXVO76tebtT3eByyytSpYUUcs

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: aifacebot_user
--

CREATE TABLE public.app_settings (
    key text NOT NULL,
    value text NOT NULL
);


ALTER TABLE public.app_settings OWNER TO aifacebot_user;

--
-- Name: category_settings; Type: TABLE; Schema: public; Owner: aifacebot_user
--

CREATE TABLE public.category_settings (
    category character varying(50) NOT NULL,
    enabled boolean DEFAULT true
);


ALTER TABLE public.category_settings OWNER TO aifacebot_user;

--
-- Name: generation_requests; Type: TABLE; Schema: public; Owner: aifacebot_user
--

CREATE TABLE public.generation_requests (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    input_image text,
    output text,
    prompt text,
    error_msg text,
    tokens_used integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp with time zone,
    external_task_id text,
    tokens_primary_used integer DEFAULT 0,
    tokens_extra_used integer DEFAULT 0,
    username character varying(255),
    model_type character varying(50),
    model character varying(255)
);


ALTER TABLE public.generation_requests OWNER TO aifacebot_user;

--
-- Name: generation_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: aifacebot_user
--

CREATE SEQUENCE public.generation_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.generation_requests_id_seq OWNER TO aifacebot_user;

--
-- Name: generation_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifacebot_user
--

ALTER SEQUENCE public.generation_requests_id_seq OWNED BY public.generation_requests.id;


--
-- Name: user_quotas; Type: TABLE; Schema: public; Owner: aifacebot_user
--

CREATE TABLE public.user_quotas (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    text_daily integer DEFAULT 0,
    text_extra integer DEFAULT 0,
    image_weekly integer DEFAULT 0,
    image_extra integer DEFAULT 0,
    music_weekly integer DEFAULT 0,
    music_extra integer DEFAULT 0,
    video_weekly integer DEFAULT 0,
    video_extra integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_quotas OWNER TO aifacebot_user;

--
-- Name: user_quotas_id_seq; Type: SEQUENCE; Schema: public; Owner: aifacebot_user
--

CREATE SEQUENCE public.user_quotas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_quotas_id_seq OWNER TO aifacebot_user;

--
-- Name: user_quotas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifacebot_user
--

ALTER SEQUENCE public.user_quotas_id_seq OWNED BY public.user_quotas.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: aifacebot_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    username character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    language_code character varying(10),
    is_premium boolean DEFAULT false,
    is_admin boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    is_blocked boolean DEFAULT false,
    referrer_id bigint,
    referral_code character varying(20),
    referrals_count integer DEFAULT 0,
    subscription_type character varying(20) DEFAULT ''::character varying,
    subscription_started_at timestamp with time zone,
    subscription_end timestamp with time zone,
    channel_trial_claimed boolean DEFAULT false NOT NULL,
    trial_reminder_sent boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO aifacebot_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: aifacebot_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO aifacebot_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aifacebot_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: generation_requests id; Type: DEFAULT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.generation_requests ALTER COLUMN id SET DEFAULT nextval('public.generation_requests_id_seq'::regclass);


--
-- Name: user_quotas id; Type: DEFAULT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.user_quotas ALTER COLUMN id SET DEFAULT nextval('public.user_quotas_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: aifacebot_user
--

COPY public.app_settings (key, value) FROM stdin;
payments_enabled	true
subscriptions_enabled	true
nano_banana_defapi	true
nano_banana_provider	kieapi
\.


--
-- Data for Name: category_settings; Type: TABLE DATA; Schema: public; Owner: aifacebot_user
--

COPY public.category_settings (category, enabled) FROM stdin;
chat	t
photo	t
music	t
video	t
\.


--
-- Data for Name: generation_requests; Type: TABLE DATA; Schema: public; Owner: aifacebot_user
--

COPY public.generation_requests (id, user_id, status, input_image, output, prompt, error_msg, tokens_used, created_at, completed_at, external_task_id, tokens_primary_used, tokens_extra_used, username, model_type, model) FROM stdin;
\.


--
-- Data for Name: user_quotas; Type: TABLE DATA; Schema: public; Owner: aifacebot_user
--

COPY public.user_quotas (id, telegram_id, text_daily, text_extra, image_weekly, image_extra, music_weekly, music_extra, video_weekly, video_extra, created_at, updated_at) FROM stdin;
1585	1398570761	10	0	0	1	0	0	0	0	2026-02-12 15:29:36.725254+00	2026-02-12 15:29:36.75209+00
1650	6318011588	10	0	0	1	0	0	0	0	2026-02-21 22:48:15.169783+00	2026-02-21 22:48:21.114746+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: aifacebot_user
--

COPY public.users (id, telegram_id, username, first_name, last_name, language_code, is_premium, is_admin, created_at, updated_at, is_blocked, referrer_id, referral_code, referrals_count, subscription_type, subscription_started_at, subscription_end, channel_trial_claimed, trial_reminder_sent) FROM stdin;
7	1398570761		Anastasia		ru	f	f	2026-01-14 18:47:07.479412+00	2026-02-12 15:57:30.941157+00	f	\N	2475e79d	0		\N	\N	t	f
237	6318011588	sgosole	.		ru	f	f	2026-02-21 22:48:15.167107+00	2026-02-21 22:49:13.469577+00	f	\N	a31fbc11	0		\N	\N	t	f
\.


--
-- Name: generation_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifacebot_user
--

SELECT pg_catalog.setval('public.generation_requests_id_seq', 56, true);


--
-- Name: user_quotas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifacebot_user
--

SELECT pg_catalog.setval('public.user_quotas_id_seq', 1662, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aifacebot_user
--

SELECT pg_catalog.setval('public.users_id_seq', 237, true);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (key);


--
-- Name: category_settings category_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.category_settings
    ADD CONSTRAINT category_settings_pkey PRIMARY KEY (category);


--
-- Name: generation_requests generation_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.generation_requests
    ADD CONSTRAINT generation_requests_pkey PRIMARY KEY (id);


--
-- Name: user_quotas user_quotas_pkey; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.user_quotas
    ADD CONSTRAINT user_quotas_pkey PRIMARY KEY (id);


--
-- Name: user_quotas user_quotas_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.user_quotas
    ADD CONSTRAINT user_quotas_telegram_id_key UNIQUE (telegram_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_referral_code_key; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_referral_code_key UNIQUE (referral_code);


--
-- Name: users users_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_telegram_id_key UNIQUE (telegram_id);


--
-- Name: idx_generation_requests_external_task_id; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_generation_requests_external_task_id ON public.generation_requests USING btree (external_task_id);


--
-- Name: idx_generation_requests_status; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_generation_requests_status ON public.generation_requests USING btree (status);


--
-- Name: idx_generation_requests_user_id; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_generation_requests_user_id ON public.generation_requests USING btree (user_id);


--
-- Name: idx_user_quotas_telegram_id; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_user_quotas_telegram_id ON public.user_quotas USING btree (telegram_id);


--
-- Name: idx_users_is_admin; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_users_is_admin ON public.users USING btree (is_admin);


--
-- Name: idx_users_referral_code; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_users_referral_code ON public.users USING btree (referral_code);


--
-- Name: idx_users_telegram_id; Type: INDEX; Schema: public; Owner: aifacebot_user
--

CREATE INDEX idx_users_telegram_id ON public.users USING btree (telegram_id);


--
-- Name: generation_requests generation_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.generation_requests
    ADD CONSTRAINT generation_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: user_quotas user_quotas_telegram_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.user_quotas
    ADD CONSTRAINT user_quotas_telegram_id_fkey FOREIGN KEY (telegram_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: users users_referrer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aifacebot_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_referrer_id_fkey FOREIGN KEY (referrer_id) REFERENCES public.users(telegram_id);


--
-- PostgreSQL database dump complete
--

\unrestrict lpxGVF7gxVwkLYG6aDmiF2ultszC22yaU8GWvRLXVO76tebtT3eByyytSpYUUcs

